
{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<!-- main start-->
<div class="row mt-3">
    <div class="col-md-4 bg-light">
    <div class="col-md-8">
        <div class="row">
          {% for x in products %} 
          <div class="col-md-4 mt-3">
            <div class="card" style="width: 100%;">
              <img src="{{x.pimage.url}}" width="100%" height="200px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{x.name}}</h5>
                <p class="card-text"> Rs.{{x.price}}</p>
                {% if x.cat == 1 %}
                <p class="card-text"> Grocery</p>
                {% elif x.cat == 2 %}
                <p class="card-text"> Snack And Drink</p>
                {% else %}
                <p class="card-text"> Beauty And Care</p>
                {% endif %}
                <a href="/pdetails/{{x.id}}" class="btn btn-primary">See Details</a>
              </div>
            </div>
          </div> <!-- product 1 end-->     
          {% endfor %}
        </div>
    </div><!-- product end-->
</div>  <!-- product and filter section end-->
<!-- main end-->



{% endblock 'main' %}